# docker-compose.yaml
# -----------------------------------------------------------------------------

# Networking
# NOVNC_HOST=127.0.0.1
# NOVNC_PORT=8080

# Application-specific
# -----------------------------------------------------------------------------

# Display geometry
# DISPLAY_WIDTH=1600
# DISPLAY_HEIGHT=900

# RDP connection information
# RDP_HOST=127.0.0.1
# RDP_PORT=3389
# RDP_USERNAME=username
# RDP_PASSWORD='9a55w0rd'
# RDP_ARGUMENTS='/cert:ignore /dynamic-resolution'
